<div class="div-sidebar">
  <ul class="ul-sidebar">
    <li class="item active">
      <a href="/">Dashboard</a>
    </li>
    <li class="item">
      <a href="/">Manage Users</a>
    </li>
    <li class="item">
      <a href="/">Manage Agents</a>
    </li>
    <li class="item">
      <a href="/">Manage Listings</a>
    </li>
    <li class="item">
      <a href="/">Push notifications</a>
    </li>
    <li class="item">
      <a href="/">Manage Legal</a>
    </li>
  </ul>
</div>