<div class="div-header">
	<% if controller_name != "sessions" %>
		<div class="div-logo">
			<a href="<%=root_url()%>"><h3>Rently</h3></a>
		</div>
		<div class="div-topbar">
		</div>
	<% end %>
</div>